//brextontran.usw-3.palantirfoundry.com/artifacts/api/:_authToken=${FOUNDRY_TOKEN}
@dispatch-command-board:registry=https://brextontran.usw-3.palantirfoundry.com/artifacts/api/repositories/ri.artifacts.main.repository.eba63e16-65bb-4747-80b4-38b2dc14f882/contents/release/npm/
